.card {
    height: 200px;
    width: 200px;
    background: rgb(214, 213, 213);
    border: 1px solid black;
}

.class-color {
    height: 110px;
    width: 110px;
    border: 1px solid black;
    border-radius: 100px;
    margin:auto;
}

.game-name {
    margin:10px;
    margin-left: 25px;
    height: 30px;
    width: 150px;
    border: 1px solid black;
    color: rgb(88, 103, 121);
    text-align: center;
    font-family: Google Sans;
    font-weight: bold;
    font-size: 0.9rem;
    background-color: rgb(231, 230, 230)

}


