.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.card {
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
    width: 18rem;
    height: 24rem;
}
.card .card-title {
    position: relative;
    font-weight: 400;
    margin-bottom: 10px;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.class-color {
    height: 110px;
    width: 110px;
    border: 1px solid black;
    border-radius: 100px;
    margin:auto;
}

.btn-default, .btn-default:hover, .btn-outline-primary:hover, .btn-outline-primary:hover:hover, .btn-outline-warning:hover, .btn-outline-warning:hover:hover, .btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover {
    color: #fff;
}
.btn-primary {
    color: #fff;
    background-color:black;
    border-color: rgb(231, 230, 230);
}

.h4{
    font-size: 1.125rem;
    font-weight: bold;
}

.game-name {
    margin:10px;
    margin-left: 25px;
    height: 30px;
    width: 150px;
    border: 1px solid black;
    color: rgb(88, 103, 121);
    text-align: center;
    font-family: Google Sans;
    font-weight: bold;
    font-size: 0.9rem;
    background-color: rgb(231, 230, 230)

}


