<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Game Screen CBLite</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .card-body:hover {background-color:#f2f2f2;}
.bg-light1{background-color:#f2f2f2;!important}
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<section class="py-5 bg-primary text-light">
    <div class="container">
        <div class="row">
            <h2>Choose A Game</h2>
        </div>
    </div>
</section>
<section class="services py-5 bg-light1 text-center">
    <div class="container">
       <div class="row">
           <div class="col-xs-12 col-sm-6 col-md-3">
               <a href="./scoreScreen" class="text-body">
    		    <div class="card bg-light mb-3">
    		        <div class="card-body">
    		           <i class="fa fa-tachometer fa-4x "></i></br>
                        <!-- <small class="text-secondary">Letter Tracing Game</small> -->
                    	<h5>Letter Tracing Game</h5>
    		        </div>
    		    </div>
    		   </a>
    		</div>
    	   
    	   
       </div>
    </div>
</section>

<script type="text/javascript">

</script>
</body>
</html>
